<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.iesb.mobile.petstop">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/placa_com_pata"
        android:label="@string/app_name"
        android:roundIcon="@drawable/placa_com_pata"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetStop">
        <activity
            android:name=".ui.activity.CriarPetfriendlyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CriarVeterinarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CriarPetPerdidoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CriarFeiraDoacaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CriarFeiraAdocaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CriarEncontroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CriarPetShopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PerfilPetPerdidoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PetPerdidoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PerfilPetFriendlyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FeiraDoacaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PerfilFeiraDoacaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PerfilFeiraAdocaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PerfilPetshopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PerfilEncontroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PerfilVeterinarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LerQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Gerar_QRCode_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CadastroActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".ui.activity.EncontrosMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_encontros_maps" />
        <activity
            android:name=".ui.activity.PetShopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MenuComunidadeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VeterinarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SuporteTecnicoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LocalPetFriendlyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EncontroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FeiraAdocaoActivity"
            android:exported="false" /> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>